.show-up,
.show-down,
.show-left,
.show-right,
.bounce-in,
.rotate-left,
.rotate-right {
	opacity: 0;
}

.animated {
	opacity: 1;

	&.show-up {
		animation: showUp 0.5s forwards;
	}
	&.show-down {
		animation: showDown 0.5s forwards;
	}
	&.show-left {
		animation: showLeft 0.5s forwards;
	}
	&.show-right {
		animation: showRight 0.5s forwards;
	}
	&.bounce-in {
		animation: bounceIn 0.5s forwards;
	}
	&.rotate-left {
		animation: rotateLeft 0.5s forwards;
	}
	&.rotate-right {
		animation: rotateRight 0.5s forwards;
	}
}

/* ---------------------
   Keyframes
--------------------- */

@keyframes showUp {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes showDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes showLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes showRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes bounceIn {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	60% {
		transform: scale(1.2);
		opacity: 1;
	}
	80% {
		transform: scale(0.95);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes rotateLeft {
	0% {
		transform: translateX(-100%) rotate(-45deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}

@keyframes rotateRight {
	0% {
		transform: translateX(100%) rotate(45deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
	}
}
