@import "reset";

.panel-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	gap: 1rem;

	.panel-title {
		font-size: 1.5rem;
		font-weight: 600;
		color: $primary-color;
		font-family: "Exo2";

		span {
			color: $secondary-color;
		}
	}

	.task-filter {
		padding: 0.5rem 1rem;
		border-radius: $border-radius-general;
		color: $secondary-color;
		font-size: 1.1rem;
		cursor: pointer;
		width: 100%;
		max-width: 250px;
		font-family: "Exo2";
		background-color: transparent;
	}

	@media screen and (min-width: 700px) {
		padding: 1rem 2rem;
		flex-direction: row;

		.panel-title {
			font-size: 1.8rem;
		}

		.task-filter {
			width: auto;
		}
	}
}

.kanban-board {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	min-height: calc(100vh - 80px);
	justify-content: flex-start;

	@media screen and (min-width: 700px) {
		flex-direction: row;
		gap: 2rem;
		padding: 2rem;
		justify-content: center;
	}
}

.column {
	display: flex;
	flex-direction: column;
	padding: 0;
	border-radius: $border-radius-general;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;

	.column-header {
		border-radius: $border-radius-general $border-radius-general 0 0;
		padding: 0.8rem 1rem;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		color: $light-color;

		.column-title {
			font-size: 1.5rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 0;
			flex: 1;
			font-family: "Exo2";
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
		}

		.task-count {
			font-size: 0.9rem;
			background-color: $light-color;
			color: $primary-color;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 600;
		}
	}

	.column-body {
		flex: 1;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		min-width: 100%;
	}

	@media screen and (min-width: 700px) {
		flex: 1;
		min-width: 300px;
		max-width: 350px;
	}

	&.pending-column {
		background: $primary-color;

		.column-header {
			background: $primary-color;
		}

		.task-assigned-badge {
			background: rgba($primary-color, 0.4);

			&:hover {
				background: rgba($primary-color, 0.6);
			}
		}
	}

	&.inprogress-column {
		background: $tertiary-color;

		.column-header {
			background: $tertiary-color;
		}

		.task-assigned-badge {
			background: rgba($tertiary-color, 0.4);

			&:hover {
				background: rgba($tertiary-color, 0.6);
			}
		}
	}

	&.completed-column {
		background: $secondary-color;

		.column-header {
			background: $secondary-color;
		}

		.task-assigned-badge {
			background: rgba($secondary-color, 0.4);

			&:hover {
				background: rgba($secondary-color, 0.6);
			}
		}
	}
}

.task-card {
	padding: 0.75rem;
	cursor: grab;
	border-radius: $border-radius-general;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	background: url(../assets/background.png);
	transition: 0.2s;

	&:hover {
		box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
		transform: translateY(-2px);
	}

	@media screen and (min-width: 700px) {
		&:active {
			cursor: grabbing;
			transform: scale(0.95);
		}
	}

	.task-title {
		font-size: 1.3rem;
		font-weight: 600;
		color: $secondary-color;
		font-family: "Exo2";
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.task-assigned-badge {
		display: inline-block;
		padding: 0.25rem 0.5rem;
		border-radius: $border-radius-rounded;
		font-size: 0.9rem;
		font-weight: 600;
		width: fit-content;
		letter-spacing: 0.6px;
		transition: 0.2s;
	}

	.task-description {
		line-height: 1.2;
		color: $secondary-color;
	}

	.due-date {
		font-size: 1rem;
		font-weight: 600;
		color: $secondary-color;
		text-align: left;
	}

	.action-row {
		display: flex;
		gap: 0.5rem;
		width: 100%;
	}

	.action-btn {
		flex: 1;
		padding: 0.5rem 0.75rem;
		border-radius: $border-radius-general;
		gap: 0.4rem;
		cursor: pointer;
		border: none;
		font-size: 0.9rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.7px;
		font-family: "Exo2";
		transition: 0.2s;
		text-align: center;

		&:hover {
			transform: scale(0.98);
		}
	}

	select.action-btn {
		appearance: none;
		color: $secondary-color;
		background: rgba($primary-color, 0.2);
	}

	button.action-btn {
		color: $red-color;
		background: rgba($red-color, 0.2);
	}
}
